*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color:white;
    font-family: "Poppins",sans-serif;
}

.navbar{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 1.5% 11.3%;
    z-index: 10;
}

.navbar_netflix{
    width: 160px;
    height: 100%;
}

.navbar__nav__items{
    display: flex;
    gap: 10px;
}

.netflix_logo{
    width: 100%;
    height: 100%;
}

.language_drop_down{
    background: transparent;
    border: none;
    color: white;

}

.dropdown__container{
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);    
}

.material-symbols-outlined {
    font-size: 20px !important;
}

.sigin__button{
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    height: 35px;
    width: 100px;
}

.hero__bg__image__container{
    width: 100%;
    height: 100%;
}
.hero__bg__image{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__bg__overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 130%;
    background: rgba(0,0,0,0.6);
    object-fit: cover;
}

.hero__card{
    position: absolute;
    top:45%;
    left: 17%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero__title{
    font-weight: 600;
    font-size: 3.1rem;
}

.hero__subtitle,
.hero__description{
    font-weight: 400;
    font-size: 1.5rem;
}

.email{
    width: 450px;
    height: 60px;
    color: white;
    padding: 0.25rem 0.5rem;
    border: 1px solid grey;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.4);
}

.get_started{
    font-size: large;
    width: 170px;
    height: 60px;
    background-color: #dc030f;
    border-color: #dc030f;
    color: white;
    border-radius: 7px;
    
}

.card-1,
.card-2,
.card-3{
    border-top: 8px rgb(56, 55, 55) solid;
    padding: 50px;
    width: 100%;
}

.card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 50px 45px 80px;
}

.desc-1{
    padding-left: 100px;
}

.card-1 video{
    position: relative;
    top: -9.5px;
    left: 0px;
    width: 100%;
    height: 56%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h3{
    font-size: 1.3rem;
    line-height: 2rem;
}

.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 50px 45px 80px;
}
.card-2 img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}
.desc-2{
    padding-left: 100px;
}

.card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 50px 45px 80px;
}
.desc-3{
    padding-left: 100px;
    
}

.card-3 img{
    width: 100%;
    height: 100%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video{
    position: relative;
    top:-55px;
    left: 88px;
    width: 63%;
    height: 69%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.footer,
.footer a{
    color: #999;
    font-size: 0.9rem;
    border-top: 8px rgb(56, 55, 55) solid;
    padding: 80px;
    width: 100%;
    font-size: 14px;
}

.footer p{
    margin-bottom: 1.5rem;
    padding-left: 100px;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    padding-left: 100px;
}

.footer ul {
    list-style-type: none; 
}

.footer li{
    line-height: 3;
}